<div class="container">
  <div class="card text-center">
    <div class="card-header">
      Real-time To-Do List
    </div>
    <div class="card-body">
      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let todo of todos">{{ todo }}
          <button class="badge bg-primary rounded-pill" (click)="deleteTodo(todo)">x</button>
        </li>
      </ol>
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInputGrid" placeholder="Add a new todo" [(ngModel)]="newTodo">
            <label for="floatingInputGrid">Add a new todo</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <button class="btn btn-primary" (click)="addTodo()">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-body-secondary">
      <button class="btn btn-primary" (click)="connectWebSocket()" [hidden]="isConnected">Connect</button>
      <button class="btn btn-primary" (click)="disconnectWebSocket()" [hidden]="!isConnected">Disconnect</button>
      <button class="btn btn-info" (click)="resetList()">Reset</button>
    </div>
  </div>
</div>